[submodule "plan"]
	path = plan
	url = git@github.com:plantbutler/plan.git
[submodule "backend"]
	path = backend
	url = git@github.com:plantbutler/backend.git
[submodule "app"]
	path = app
	url = git@github.com:plantbutler/app.git
[submodule "cad"]
	path = cad
	url = git@github.com:plantbutler/cad.git
