[submodule "plan"]
	path = plan
	url = https://github.com/plantbutler/plan.git
[submodule "backend"]
	path = backend
	url = https://github.com/plantbutler/backend.git
[submodule "app"]
	path = app
	url = https://github.com/plantbutler/app.git
[submodule "cad"]
	path = cad
	url = https://github.com/plantbutler/cad.git
[submodule "firmware"]
	path = firmware
	url = https://github.com/plantbutler/firmware.git
